[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
google-api-python-client = "*"
flask-restful = "*"
python-dotenv = "*"
flask-cors = "*"
celery = {extras = ["redis"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
